@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.flex {
  display: flex;
  flex-wrap: wrap;
}

.nav-wrapper {
  margin: 0 auto !important;
  background-color: #4c956c !important;
}

.brand-logo {
  font-size: 25px !important;
}

nav {
  height: 50px !important;
  line-height: 50px !important; 
}

#mapid { 
  min-height: 66vh; 
}

#map-container {
  min-height: 66vh;
}

canvas {
  height: 40vh !important;
}


.leaflet-tooltip{
  width: 350px !important;
  white-space: normal !important; 
}

.leaflet-container {
  font-size: 1rem !important;
  line-height: 2.3rem !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

select, option:focus {
  outline: none !important;
  box-shadow: none !important;
}

h6 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.2rem !important;
}

.fas {
  font-weight: 900 !important;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
  .map-container {
    margin-top: 2px !important;
  }
  .brand-logo {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
}
